name: Build test document

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Typst common steps
        uses: ./.github/actions/typst-steps
        with:
          input_file: tests/test-make-doc.typ
          output_file: test-make-doc.pdf
